To apply custom function or library function to Pandas object, below functions comes handy. The appropriate method to use depends on whether your function expects to operate on an entire DataFrame, row- or column-wise, or element wise.

- Table wise Function Application: __pipe()__
- Row or Column Wise Function Application: __apply()__
- Element wise Function Application: __applymap()__

In [2]:
import pandas as pd
import numpy as np

In [12]:
# peraring data

data_1 = [x for x in range(1,6)]
data_2 = [x**2 for x in range(1,6)]
data_3 = [x**3 for x in range(1,6)]

df = pd.DataFrame({'Col1':data_1, 'Col2':data_2, 'Col3':data_3})
df

   Col1  Col2  Col3
0     1     1     1
1     2     4     8
2     3     9    27
3     4    16    64
4     5    25   125

#### pipe()

In [11]:
# using pipe() to add 2 in complete datafame

def adder(a,b):
    return a+b

df_pipe = df.pipe(adder,2)
df_pipe

   Col1  Col2  Col3
0     3     3     3
1     4     6    10
2     5    11    29
3     6    18    66
4     7    27   127

As you can see above using pipe we can apply a custom function to complete dataframe which added 2 to each element

**apply()** : The apply() function is used to apply a function along an axis of the DataFrame.

In [13]:
df

   Col1  Col2  Col3
0     1     1     1
1     2     4     8
2     3     9    27
3     4    16    64
4     5    25   125

In [15]:
# calculate mean row-wise and column-wise

df.apply(np.mean)  # default operation is column-wise

Col1     3.0
Col2    11.0
Col3    45.0
dtype: float64

In [18]:
# calculating mean row-wise

df.apply(np.mean, axis=1)

0     1.000000
1     4.666667
2    13.000000
3    28.000000
4    51.666667
dtype: float64

As you can see using apply() we can apply aribitary function column-wise or row-wise

**applymap()** : The applymap() function is used to apply a function to a Dataframe elementwise.

In [19]:
# finding square root using applymap

from math import sqrt
df.applymap(lambda x: sqrt(x))

       Col1  Col2       Col3
0  1.000000   1.0   1.000000
1  1.414214   2.0   2.828427
2  1.732051   3.0   5.196152
3  2.000000   4.0   8.000000
4  2.236068   5.0  11.180340

Here each element from dataframe is passed to lambda function to return square root