<font color = blue> Often data in real word is not oragnized and cleaned up. In order to perform analysis data needs to be cleaned and handling missing data is one of the step in this process. Columns having **null** or **NaN** can give inaccurate results is statistical analysis. So, it is necessary to handle missing datas before performing any analysis. </font>

#### Checking for missing values using `isna()`, `isnull()` and `notnull()`

In [2]:
import pandas as pd
import numpy as np

In [3]:
#dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [4]:
# check for missing data

df.isnull()

# True indicates missing data

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [7]:
# works same as isnull()
df.isna()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [5]:
df.notnull()

# False indicates missing data

   First Score  Second Score  Third Score
0         True          True        False
1         True          True         True
2        False          True         True
3         True         False         True

In [15]:
# count() return count of non-missing data

print(df.count())

# len() retrun total number of rows in dataframe
print("Total rows in dataframe: ",len(df))

First Score     3
Second Score    3
Third Score     3
dtype: int64
Total rows in dataframe:  4

#### Find the percentage of missing data in each column

In [23]:
# calculating percentage of missing data

missing_data = len(df) - df.count()
print("Rows with missing data in each column: \n")
print(missing_data)

print("\nPercentage of missing data in each column: \n")
print( (missing_data/len(df))*100)

Rows with missing data in each column:

First Score     1
Second Score    1
Third Score     1
dtype: int64

Percentage of missing data in each column:

First Score     25.0
Second Score    25.0
Third Score     25.0
dtype: float64

#### Filling missing values using `fillna()` and `replace()`

In [24]:
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [25]:
# filling missing values with 0
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [27]:
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score
0        100.0          30.0          NaN
1         90.0          45.0         40.0
2          NaN          56.0         80.0
3         95.0           NaN         98.0

In [33]:
# replace missing data with 0
df.replace(np.nan,0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

#### Drop missing values using `dropna()`

In [34]:
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, np.nan, 45, 56],
        'Third Score':[52, 40, 80, 98],
        'Fourth Score':[np.nan, np.nan, np.nan, 65]}
 
# creating a dataframe from dictionary
df = pd.DataFrame(dict)
df

   First Score  Second Score  Third Score  Fourth Score
0        100.0          30.0           52           NaN
1         90.0           NaN           40           NaN
2          NaN          45.0           80           NaN
3         95.0          56.0           98          65.0

In [35]:
# drop rows having at least one missing data

df.dropna()

   First Score  Second Score  Third Score  Fourth Score
3         95.0          56.0           98          65.0